In [ ]:
#Pandas:It's a standard python library use for the data manipulation purpose.
#Mainly use to work with the Series and DataFrame.
#Series is 1D and DataFrame is 2D

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Basic Series concept
one = np.array([10,20,30,40,50]) # firstly adding one 1D array
S = pd.Series(one) # importing this 1D array in the series
print(S) # printing the series
print(S.ndim) # also checking the dimension

In [ ]:
#Setting the index manualy
one = np.array([10,20,30,40,50])
i=[100,200,300,400,500] # so here we wrote the index manually
S = pd.Series(one,index =i) # and used the inbuilt parameters present in the series
print(S)
print(S.ndim)

In [ ]:
#Creating the Series using dictionary
d={

   "Country":"India",
   "Captain":"Rohit Sharma",
   "Runs":10000,
   "Trophys":2
}
# above d is a dictionary created, now we want to convert it into a series
# also left side of the dictionary is indicating keys, while right hand side indicates the values
S=pd.Series(d) #
print(S)
print(S.ndim)

In [ ]:
#Creating the series within a list and dictionary combination

#suppose we want to import the multiple number of dictionaries within a list and with respect to that we want to create 1 series
d=[
    {"Country":"India","Captain":"Rohit Sharma","Trophys":2},
    {"Country":"Australia","Captain":"Pat Cummins","Trophys":4},
    {"Country":"South Africa","Captain":"Aiden Markram","Trophys":1}
]

s = pd.Series(d)
print(s)
print(S.ndim)
# we can see in the output it is representing 0,1,2 , indicating the index

In [ ]:
#DataFrame
# DataFrame is 2D
d={

   "Country":"India",
   "Captain":"Rohit Sharma",
   "Runs":10000,
   "Trophys":2
}
# we get the error - saying if u r using the scalar values, u must pass an index
# it means dataframe is  2D , but i am working with 1D
# therefore I will now just provide it the list in the next cell
df = pd.DataFrame(d)
print(df)
print(df.ndim)

In [ ]:
d={

   "Country":["India"],
   "Captain":["Rohit Sharma"],
   "Runs":[10000],
   "Trophys":[2]
}

df = pd.DataFrame(d)
print(df)
print(df.ndim)

# also. here we can observe that in series it was printing the indices and the values but for the data frame , here 0 actaully representing the row number
# while country, captain, runs, trophys - representing the columns
# it means in the series , its actually treating it as an index but in dataframe the entire thing is represented in rows and columns form i.e dataframe is 2D.

In [ ]:
d=[
    {"Country":"India","Captain":"Rohit Sharma","Trophys":2},
    {"Country":"Australia","Captain":"Pat Cummins","Trophys":4},
    {"Country":"South Africa","Captain":"Aiden Markram","Trophys":1}
] # here writing the dictionary under the list

df= pd.DataFrame(d)
print(df)
print(df.ndim)
# so here in the output 0, 1, 2 are the rown indices
# and country, captain, trophys, runs are the columns, in ML terminologies, columns names are knowns as Features

In [ ]:
# what happens if only one index contain key value pairs and others don't
# below is an example
d=[
    {"Country":"India","Captain":"Rohit Sharma","Trophys":2,"Runs":10000},
    {"Country":"Australia","Captain":"Pat Cummins","Trophys":4},
    {"Country":"South Africa","Captain":"Aiden Markram","Trophys":1}
]

df= pd.DataFrame(d)
print(df)
print(df.ndim)

# it fills the null value

NOW WE WILL WORK WITH RESPECT TO THE DATASETS

In [ ]:
#Working wih the datasets
#Uploading the data
df =pd.read_csv('eye_cancer_patients.csv')
df

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#Use for printing the top 10 rows
df.head(10)

In [ ]:
#Last 10 rows
df.tail(10)

In [ ]:
#Print the number of rows  and columns, then we will use the shape function
df.shape
#5000 rows, 16 columns(features)

In [ ]:
#For all the stastical calculation the describe
# that is we want to observe all the statistical calculation means like maximum value , minimum value, average we use describe function
# this describe function only works for numerical features not the string features
df.describe()
# as we can see that in the dataset patientid (shown above) is the object datatype that is combination of strings and integers therefore they won't work in describe function
# while age will work

In [ ]:
# lets convert it into integer type, coz count value should not be the float
df.describe().astype(int)
# here std in output is standard deviation
# here 25 % in ouput means sum all the age values, after sum calculating 25% , 50% and 75%
# why so ? -  there is a concept called IQR - inter quartile range, in features engineering
# in features engineering, we have to just handle the outliers , we have to work with IQR
# so for first quarter it takes 25 percent, second - 50% and third - 75%

In [ ]:
# To check the information of the data
df.info()
# now we can see in all, out of 5000 all the 5000 values are non-null while for genetic_markers out of 5000 only 2503 are no null
# means rest value is null in genetic_markers

In [ ]:
#To check whether any null value is present or not or if present then how many
df.isnull().sum()
# we get to know that in genetic markers 2497 null values are present

In [ ]:
#Check whether any duplicate(redundant) value is present or not
df.duplicated().sum()
# here output comes 0 , it means no duplicate value is found

In [ ]:
#Tackling process of Null value
#Directly drop the Null value using df.dropna()
#Fill the Null value with 0 or for the string unknown
#Use mean when data is well distributed (using statistical calculation)
#Use median when data is not well distributed (using statistical calculation)
#Use mode to tackle the null value for the string (using statistical calculation)